<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body titulo">
          <h3>TARJETA CREDITO</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h5 class="titulo">AGREGAR TARJETA</h5>
          <form [formGroup]="form" (ngSubmit)="addCard()">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">
                <i
                  class="fa-solid fa-user"
                  [class.green.icon]="this.form.get('headline')?.valid"
                  [class.red.icon]="
                    this.form.get('headline')?.invalid &&
                    this.form.get('headline')?.touched
                  "
                ></i>
              </span>
              <input
                formControlName="headline"
                type="text"
                class="form-control"
                placeholder="Titular"
                aria-label="titular"
                aria-describedby="basic-addon1"
              />
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">
                <i
                  class="fa-solid fa-credit-card"
                  [class.green.icon]="this.form.get('cardNumber')?.valid"
                  [class.red.icon]="
                    this.form.get('cardNumber')?.invalid &&
                    this.form.get('cardNumber')?.touched
                  "
                ></i>
              </span>
              <input
                formControlName="cardNumber"
                type="text"
                class="form-control"
                placeholder="Numero de tarjeta"
                aria-label="numbercard"
                aria-describedby="basic-addon1"
                maxlength="16"
              />
            </div>
            <div class="row">
              <div class="col-lg-7">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1">
                    <i
                      class="fa-solid fa-calendar"
                      [class.green.icon]="this.form.get('dateOfExpire')?.valid"
                      [class.red.icon]="
                        this.form.get('dateOfExpire')?.invalid &&
                        this.form.get('dateOfExpire')?.touched
                      "
                    ></i>
                  </span>
                  <input
                    formControlName="dateOfExpire"
                    type="text"
                    class="form-control"
                    placeholder="mm/yy"
                    aria-label="dateOfExpire"
                    aria-describedby="basic-addon1"
                  />
                </div>
              </div>
              <div class="col-lg-5">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1">
                    <i class="fa-solid fa-key"></i>
                  </span>
                  <input
                    formControlName="cvv"
                    type="text"
                    class="form-control"
                    placeholder="CVV"
                    aria-label="cvv"
                    aria-describedby="basic-addon1"
                    maxlength="3"
                  />
                </div>
              </div>
            </div>
            <div class="d-grid gap-2">
              <button [disabled]="" class="btn btn-success btn-lg">
                <i class="fa-solid fa-database"></i> Guardar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h5 class="titulo">LISTADO DE TARJETA</h5>
          <table class="table">
            <tbody>
              <tr *ngFor="let tarjeta of cardList; let i = index">
                <td>{{ tarjeta.title }}</td>
                <td>{{ tarjeta.tarjetNumber }}</td>
                <td>{{ tarjeta.dateOfExpire }}</td>
                <td>{{ tarjeta.cvv }}</td>
                <td>
                  <i class="far fa-solid fa-pen-to-square text-info"></i>
                </td>
                <td>
                  <i (click)="deleteCard(i)" class="far fa-solid fa-trash text-danger"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
